#radisson{
    height: 500px;
    width: 500px;
}
.radimg{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;

}
#form{
    margin-bottom: 1%;
    
}
#dis{
    margin-top: 1%;
   
    
}