.cityimg {
  width: 150px;
  height: 150px;
  border-radius: 25%;
}

#search {
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
  height: 380px;
  background-position: center;
  background-size: cover;
}
.citycard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 4% 4% 4% 4%;
  margin: 0 15%;
}
